@import "src/styles";

.about-me {
  .about-me-image-container {
    position: relative;

    .about-me-image-background {
      display: inline-block;
      width: 50%;
      height: 100%;
      background-image: linear-gradient(to bottom right, $primary-color, $secondary-color);
      border-radius: 1em;
      position: absolute;
      z-index: 0;
      -ms-transform: rotate(10deg); /* IE 9 */
      transform: rotate(10deg);
    }

    .about-me-image {
      width: 50%;
      z-index: 1;
      border-radius: 1em;
    }
  }

  .achievement-section {
    .achievement-box {
      .icon {
        color: $secondary-color;
      }

      padding: 2em 0;
      background: $tertiary-color;
      border-radius: 1em;
    }

    .achievement-box:hover {
      background: $primary-color;
      border: 1px solid #e2e2e2;
      transition: 0.3s;
    }
  }

  .about-me-container {
    .about-me-text {
      line-height: 2em;
    }
  }
}


