<div class="about-me" fxLayoutGap="3em" fxLayout="column">
  <div fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="space-around center" class="about-me">
    <h3 fxFlex>Get To Know</h3>
    <h1 fxFlex>About Me</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-around center" fxLayoutGap="2em" class="about-me-info">
    <div fxFlex="50" fxFlex.lt-lg="100" class="about-me-image-container" fxLayoutAlign="space-around center">
      <div class="about-me-image-background"></div>
      <img src="/assets/images/photo-2.jpg" class="about-me-image"/>
    </div>
    <div fxFlex="50" fxLayout="column" fxFlex.lt-lg="100">
      <div fxFlex="100" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-evenly center" class="achievement-section" fxLayoutGap="1em">
        <div class="achievement-box" fxFlex="25" fxFlex.lt-lg="100" fxLayoutAlign="space-evenly center" fxLayout="column" fxLayoutGap="2em">
          <fa-icon class="icon" fxFlex [icon]="iconTrophy"></fa-icon>
          <p fxFlex>Experience</p>
          <span fxFlex>5+ Years Working</span>
        </div>
        <div class="achievement-box" fxFlex="25" fxFlex.lt-lg="100" fxLayoutAlign="space-evenly center" fxLayout="column" fxLayoutGap="2em">
          <fa-icon class="icon" fxFlex [icon]="iconPerson"></fa-icon>
          <p fxFlex>Clients</p>
          <span fxFlex>100+ Worldwide</span>
        </div>
        <div class="achievement-box" fxFlex="25" fxFlex.lt-lg="100" fxLayoutAlign="space-evenly center" fxLayout="column" fxLayoutGap="2em">
          <fa-icon class="icon" fxFlex [icon]="iconProjectDiagram"></fa-icon>
          <p fxFlex>Projects</p>
          <span fxFlex>80+ completed</span>
        </div>
      </div>
      <div fxFlex="100"></div>
      <div fxFlex="100"></div>
    </div>
  </div>
</div>
