<div class="my-experiences-container" fxLayoutGap="3em" fxLayout="column">
  <div fxFlex="100" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="space-around center" class="my-experience-header">
    <h5 fxFlex>What Skills I Have</h5>
    <h1 fxFlex>My Experience</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-around center" fxLayoutGap="2em">
    <div class="experience-container" fxFlex="40" fxFlex.lt-lg="100" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="2.5em" *ngFor="let ex of experiencesKeys">
      <h4 fxFlex="100" class="title">{{ex}}</h4>
      <div fxFlex="100" fxLayout="row" class="wrap experience" fxLayout.lt-lg="column" fxLayoutGap="2em">
        <div fxFlex="40" fxLayout="row" *ngFor="let d of experiences[ex]">
          <div fxFlex="20">
            <fa-icon [icon]="iconCircleCheck"></fa-icon>
          </div>
          <div fxFlex="80" fxLayout="column" fxLayoutGap="1em">
            <h4>{{d.name}}</h4>
            <p class="experience-description">{{d.experience}}</p>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="30" fxFlex.lt-lg="100" fxLayout="column" fxLayoutAlign="space-evenly center">
      <h4 fxFlex="100">Backend Development</h4>
    </div>
  </div>
</div>
