<div class="contact-me-container" fxLayoutGap="3em" fxLayout="column" #contactMe>
  <div fxFlex="100" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="space-around center" class="contact-me-header">
    <h5 fxFlex>Ways to contact me</h5>
    <h1 fxFlex class="header">Contact Me</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="contact-me-options">
    <a href="mailto:gbhopal@icloud.com" fxFlex="20" fxLayoutAlign="space-around center" class="option1" fxLayout="column" fxLayoutGap="2em">
      <div fxFlex="100">
        <fa-icon [icon]="iconEnvelopeSquare"></fa-icon>
      </div>
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-around center" fxLayoutGap="0.5em">
        <p fxFlex>Email</p>
        <p fxFlex>gbhopal@icloud.com</p>
      </div>
      <div fxFlex="100">
        <p class="link">Send Email</p>
      </div>
    </a>
    <a href="https://www.linkedin.com/in/gurpreet-bhopal-063a6a73" target="_blank" fxFlex="20" fxLayoutAlign="space-around center" class="option2" fxLayout="column" fxLayoutGap="2em">
      <div fxFlex="100">
        <img src="/assets/images/linkedin-icon.svg"  alt="linkedin" class="linkedin-icon"/>
      </div>
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-around center" fxLayoutGap="0.5em">
        <p fxFlex>Linkedin</p>
        <p fxFlex>Gurpreet Bhopal</p>
      </div>
      <div fxFlex="100">
        <p class="link">View Page</p>
      </div>
    </a>
    <a href="https://twitter.com/GBhopal" target="_blank" fxFlex="20" fxLayoutAlign="space-around center" class="option3" fxLayout="column" fxLayoutGap="2em">
      <div fxFlex="100">
        <img src="/assets/images/twitter-icon.svg"  alt="twitter" class="twitter-icon"/>
      </div>
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-around center" fxLayoutGap="0.5em">
        <p fxFlex>Twitter</p>
        <p fxFlex>GBhopal</p>
      </div>
      <div fxFlex="100">
        <p class="link">View Page</p>
      </div>
    </a>
    <a href="https://github.com/bhopalg" target="_blank" fxFlex="20" fxLayoutAlign="space-around center" class="option4" fxLayout="column" fxLayoutGap="2em">
      <div fxFlex="100">
        <img src="/assets/images/github-icon.svg"  alt="twitter" class="github-icon"/>
      </div>
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-around center" fxLayoutGap="0.5em">
        <p fxFlex>GitHub</p>
        <p fxFlex>GBhopal</p>
      </div>
      <div fxFlex="100">
        <p class="link">View Page</p>
      </div>
    </a>
  </div>
</div>
