<div fxLayout="row" fxLayoutAlign="space-around center" class="banner">
  <div fxFlex="10" fxLayout="column" fxLayoutGap="0.5em" class="banner-links">
    <a href="mailto:gbhopal@icloud.com" fxFlex="100">
      <fa-icon [icon]="iconEnvelopeSquare"></fa-icon>
    </a>
    <div fxFlex="100">-------</div>
    <a href="https://www.linkedin.com/in/gurpreet-bhopal-063a6a73">
      <img src="/assets/images/linkedin-icon.svg"  alt="linkedin" class="linkedin-icon"/>
    </a>
    <div fxFlex="100">-------</div>
    <a href="https://twitter.com/GBhopal">
      <img src="/assets/images/twitter-icon.svg"  alt="twitter" class="twitter-icon"/>
    </a>
    <div fxFlex="100">-------</div>
    <a href="https://github.com/bhopalg">
      <img src="/assets/images/github-icon.svg"  alt="github" class="github-icon"/>
    </a>
  </div>
  <div fxFlex="80" fxLayout="column">
    <div fxLayout="column" fxLayoutGap="1em" fxFlex="100" fxLayoutAlign="space-around center" class="banner-title">
      <h2 fxFlex="100">Hello I'm</h2>
      <h1 fxFlex="100" class="header">Gurpreet Bhopal</h1>
      <h3 fxFlex="100">Fullstack Developer</h3>
    </div>
    <div fxFlex="100" fxLayoutAlign="space-around center" class="banner-image-container">
      <img src="/assets/images/photo-1.jpeg" class="banner-image" alt="banner-image"/>
    </div>
  </div>
  <div fxFlex="10" class="scroll-text" *ngIf="showScrollDownText">
    <button (click)="scrollDown()"><h4>Scroll down >>></h4></button>
  </div>
</div>
