@import "src/styles";

.banner {
  .banner-title {
    margin-top: 5em;
  }

  .banner-image-container {
    margin-top: 5em;
    .banner-image {
      width: 21%;
      border-radius: 1em;
    }
  }

  .banner-links {
    text-align: center;
    color: $text-color;

    img {
      height: 100%;
      filter: invert(60%) sepia(82%) saturate(484%) hue-rotate(176deg) brightness(97%) contrast(93%);
    }

    img:hover {
      filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(78deg) brightness(104%) contrast(106%);
    }
  }

  .scroll-text {
    transform: rotate(90deg);
    text-align: center;

    button {
      background: transparent;
    }
  }
}

.mobile-banner {
  .banner-links {
    margin-top: 2em;
  }

  .banner-image {
    width: 50% !important;
  }
}
