@import "src/styles";

.skills-container {
  fa-icon{
    color: $secondary-color;
  }

  .skill-container {
    border: 1px solid #e2e2e2;
    background: $tertiary-color;
    border-radius: 1em;
    padding-left: 2em;
    cursor: pointer;

    .title {
      padding-top: 2em;
    }

    .skill {
      padding: 2em;

      .skill-description {
        margin-bottom: 2em;
      }
    }
  }

  .skill-container:hover {
    background: $primary-color;
    border: 1px solid #e2e2e2;
    transition: 0.3s;
  }

  .wrap {
    flex-wrap: wrap;
  }
}
