<div class="skills-container" fxLayoutGap="3em" fxLayout="column" [ngClass.lt-lg]="{'skill-mobile': isMobile}">
  <div fxFlex="100" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="space-around center" class="skills-header">
    <h5 fxFlex>What Skills I Have</h5>
    <h1 fxFlex class="header">My Skills</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-around center" fxLayoutGap="2em" *ngFor="let group of skillKeys">
    <div class="skill-container" fxFlex="40" fxFlex.lt-lg="100" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="2.5em" *ngFor="let ex of getObjectKeys(skills[group])">
      <h4 fxFlex="100" class="title">{{ex}}</h4>
      <div fxFlex="100" fxLayout="row" class="wrap skill" fxLayout.lt-lg="column" fxLayoutGap="3em">
        <div fxFlex="40" fxLayout="row" *ngFor="let d of skills[group][ex]">
          <div fxFlex="20">
            <fa-icon [icon]="iconCircleCheck"></fa-icon>
          </div>
          <div fxFlex="80" fxLayout="column" fxLayoutGap="1em">
            <h4>{{d.name}}</h4>
            <p class="skill-description">{{d.skill}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
