$primary-color: rgb(30, 32, 54);
$secondary-color: rgb(91, 180, 240);
$tertiary-color: rgb(40, 45, 98);
$text-color: #fff;

@font-face {
  font-family: san-francisco;
  src: url(assets/fonts/SFNSText-Medium.otf) format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'san-francisco', 'arial', sans-serif;
}

body {
  background: $primary-color;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: $text-color;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
