$primary-color: rgb(30, 32, 54);
$secondary-color: rgb(91, 180, 240);
$tertiary-color: rgb(40, 45, 98);
$text-color: #fff;

@font-face {
  font-family: san-francisco;
  src: url(assets/fonts/SFNSText-Medium.otf) format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'san-francisco', 'arial', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background: $primary-color;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, span, button {
  color: $text-color;
}

button {
  box-shadow: 0 0 #0003, 0 0 #00000024, 0 0 #0000001f;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}

button:hover {
  transition: 0.3s;
}
